body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a {
    text-decoration: none !important;
}

 ul,
 ol {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.container a {
    text-decoration: none;
}

.container a:hover {
    text-decoration: none;
}

.container a,
.container button,
.container span,
.container p,
.container ul,
.container li,
.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    margin: 0;
    padding: 0;
}

.padding-gap{
    padding-bottom: 100px;
}

.padding-gap30{
    padding-bottom: 30px;
}

.Hr{
    border-bottom: 1px solid #808080;
    margin-bottom: 15px; 
}

 h2:hover{
    color:#FF4F00;

}
